<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Car</title>
    <style>table th, table td {padding: 5px;}</style>
</head>

<body>
<h1>Cars</h1>

<table border="1">
    <tr>
        <th>brand</th>
        <th>model</th>
        <th>power</th>
        <th>price</th>
    </tr>

    <tr th:each="car : ${list}">
        <td th:utext="${car.getBrand()}">brand></td>
        <td th:utext="${car.getModel()}">model</td>
        <td th:utext="${car.getPower()}">power</td>
        <td th:utext="${car.getPrice()}">power</td>
    </tr>

</table>

</body>

</html>
